$bg-color: #00aeec;
$snake-color: #171717;
$food-color: #2B2B2B;
$font: 'Courier';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 360px;
  height: 420px;
  background-color: $bg-color;
  border: 6px solid #eee;
  border-radius: 16px;
  padding: 20px;

  #playground {
    position: relative;
    width: 304px;
    height: 304px;
    margin: 0 auto 20px;
    border: 2px solid #444;
    border-radius: 6px;
    overflow: hidden;

    #snake {
      &>div {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $snake-color;
        border: 1px solid $bg-color;
      }
    }
    #food {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-content: space-between;
      flex-flow: row wrap;
      width: 10px;
      height: 10px;
      border: 1px solid $bg-color;
      left: 40px;
      top: 100px;

      &>div {
        width: 4px;
        height: 4px;
        background-color: $food-color;
        transform: rotate(45deg);
      }
    }
  }

  #score-panel {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    font-family: $font;
  }
}